---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="TSNE">
  <main class="bg-white w-full h-full">
    <h1>T-SNE</h1>

    <div id="chart"></div>
  </main>
</Layout>

<script></script>
